@model IEnumerable<SwiftHR.Models.Employee>
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "EmployeeList";
}

<!-- DataTables -->
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<section class="content-header">
    <h1>
        Employee List
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-info">
        @*<div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
        </div>*@
        <!-- /.box-header -->
        <div class="box-header">
            <h2 class="box-title"><i class="fa fa-address-card-o"></i></h2>
            <a class="btn btn-sm btn-default btn-flat pull-right" id="btnpDF"> Export To PDF </a>
            <a class="btn btn-sm btn-default btn-flat pull-right" id="btnExport"> Export To Excel </a>
        </div>
        <div class="box-body">
            <div class="table-responsive" id="divEmpllist">
                <table id="tblEmpList" class="table table-bordered table-striped dt-responsive nowrap table-hover " style="width:100%">
                    <thead >
                        <tr>
                            <th class="bg-primary"> Name </th>
                            <th class="bg-primary"> Employee No </th>
                            <th class="bg-primary"> Contact No </th>
                            <th class="bg-primary"> Email </th>
                            <th class="bg-primary"> Department </th>
                            <th class="bg-primary"> Designation </th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count() > 0)
                        {
                            @foreach (var contact in Model)
                            {
                                <tr>
                                    <td style="width: 20%;"><img src="../UploadImages/@contact.EmployeeProfilePhoto" alt="Emp Image" style="width:10% !important; border-radius: 50%;"> <span style="margin-left:5%;"> <strong> @contact.FirstName  @contact.MiddleName  @contact.LastName </strong>  </span> </td>
                                    <td>
                                        <a asp-controller="Employee" asp-action="EmployeeDetails" asp-route-empId="@contact.EmployeeId" data-toggle="modal" data-target="#modal-default" data-backdrop="static" data-keyboard="false">@contact.EmployeeNumber</a>
                                        <input data-tableexport-display="none" id="hndfEmployeeIdVal" name="empId" type="hidden" value="@contact.EmployeeId" />
                                    </td>
                                    <td>@contact.ContactNumber</td>
                                    <td><a href="mailto:@contact.Email">@contact.Email</a> </td>
                                    <td>@contact.Department</td>
                                    <td>@contact.Designation </td>
                                </tr>
                            }
                        }

                    </tbody>

                </table>
            </div>
        </div>
            <!-- /.box-body -->
    </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog" style="width: 65% !important;">

                <div class="modal-content">

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- /.modal -->

</section>




@section Scripts {

    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Export plugin -->
    <script type="text/javascript" src="~/lib/hhurz/libs/FileSaver/FileSaver.min.js"></script>
    <script type="text/javascript" src="~/lib/hhurz/libs/js-xlsx/xlsx.core.min.js"></script>
    <script type="text/javascript" src="~/lib/hhurz/libs/jsPDF/jspdf.min.js"></script>
    <script type="text/javascript" src="~/lib/hhurz/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript" src="~/lib/hhurz/tableExport.js"></script>
    <script type="text/javascript" src="~/lib/hhurz/tableExport.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#liEmployee").addClass("active");
            $("#liEmployeeList").addClass("active");
            document.getElementById("liEmployeeList").style.backgroundColor = "#3c8dbc45";

        });

        $(function () {
            $('#tblEmpList').DataTable();
        })


        $("#btnExport").click(function (e) {
            //alert("excel");
            //window.open('data:application/vnd.ms-excel,' + $('#divJoinerslist').dataTable.html());
            $('#tblEmpList').tableExport({ type: 'excel'});
            @*$('#tblEmpList').tableExport({ type: 'csv' });*@
            @*$('tblEmpList').tableExport({
                type: 'excel',
                mso: {
                    fileFormat: 'excel',
                    worksheetName: ['Table 1', 'Table 2', 'Table 3']
                }
            });*@

            @*$('tblEmpList').tableExport({
                type: 'excel',
                mso: {
                    fileFormat: 'xmlss',
                    worksheetName: ['Table 1', 'Table 2', 'Table 3']
                }
            });*@
            e.preventDefault();
        });

        $("#btnpDF").click(function (e) {
            //PDF 
             $('#tblEmpList').tableExport({
                type: 'pdf',
                jspdf: {
                    orientation: 'l',
                    format: 'a4',
                    margins: { left: 10, right: 10, top: 20, bottom: 20 },
                    autotable: {
                        styles: {
                            fillColor: 'inherit',
                            textColor: 'inherit'
                        },
                        tableWidth: 'auto'
                    }
                }
            });
            e.preventDefault();
        });

    </script>
}

