@model SwiftHR.Utility.LeavesAllDetails

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "LeavesApplyDetails";
}

<style type="text/css">
    body {
        background: navy !important;
    }
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<!-- DataTables -->
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<form asp-controller="Leaves" asp-action="LeavesList" method="post" id="frmLeavesList">
    <section class="content-header">
        <h1>
            <i class="fa fa-exclamation-circle"></i>
            Employee Leaves
            <button class="btn btn-flat btn-warning" id="btnBusy" style="float: right; margin-right: 3%; visibility:hidden" disabled>
                <span class="glyphicon glyphicon-refresh spinning"></span> Loading...
            </button>
        </h1>
        <div class="box box-solid" style="box-shadow:  inset !important;">
            <div class="box-body" id="divComp1">
                <div class="form-group">
                    <div class="btn-group">
                        @*@System.Convert.ToDateTime(leave.LeaveStatusChangeDate).ToString("yyyy-MM-dd")*@
                        <button type="submit" @ViewBag.leaveListSelection[0] class="btn btn-primary" name="leavePeriod" value="0">All-@ViewBag.leaveListSelection[13]</button>
                        @*<button type="button" id="AllBtn1" name="leavePeriod" value="All" class="btn btn-primary" onclick="BtnOptionsClick(event)">All 2021</button>*@
                        <button type="submit" @ViewBag.leaveListSelection[1] class="btn btn-primary" name="leavePeriod" value="1">Jan @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[2] class="btn btn-primary" name="leavePeriod" value="2">Feb @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[3] class="btn btn-primary" name="leavePeriod" value="3">Mar @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[4] class="btn btn-primary" name="leavePeriod" value="4">Apr @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[5] class="btn btn-primary" name="leavePeriod" value="5">May @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[6] class="btn btn-primary" name="leavePeriod" value="6">Jun @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[7] class="btn btn-primary" name="leavePeriod" value="7">Jul @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[8] class="btn btn-primary" name="leavePeriod" value="8">Aug @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[9] class="btn btn-primary" name="leavePeriod" value="9">Sep @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[10] class="btn btn-primary" name="leavePeriod" value="10">Oct @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[11] class="btn btn-primary" name="leavePeriod" value="11">Nov @ViewBag.leaveListSelection[13]</button>
                        <button type="submit" @ViewBag.leaveListSelection[12] class="btn btn-primary" name="leavePeriod" value="12">Dec @ViewBag.leaveListSelection[13]</button>
                        <div class="btn-group ">
                            <button type="button" @ViewBag.leaveListSelection[14] class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Date Range <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label for="dtDateOfJoining1" class="control-label">Leave From Date</label>
                                        <input class="form-control" name="rangeLeaveFromDate" value="@ViewBag.leaveListSelection[15]" type="date" id="dtDateOfJoining1" placeholder="Leaving Date">
                                    </div>
                                    <div class="col-sm-12">
                                        <label for="dtDateOfLeaving1" class="control-label">Leave Till Date</label>
                                        <input class="form-control" name="rangeLeaveToDate" value="@ViewBag.leaveListSelection[16]" type="date" id="dtDateOfLeaving1" placeholder="Leaving Date">
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" name="leavePeriod" value="14">Search</button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="alertS alert-success" id="modal-success" style="display:none;">
            <button type="button" class="close" aria-hidden="true" onclick="successAlertClose(event)">&times;</button>
            <h4><i class="icon fa fa-check"></i> Success </h4>
            <p id="successBody"></p>
        </div>
        <div class="box box-info">
            <div id="Set1" class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-gears"></i>
                    Applied Leaves
                </h3>
                <div class="box-tools pull-right">
                    @*<a class="btn btn-default btn-circle hidden-print" id="btnExport" onclick="BtnExportClick('tblLeavesList')"><i class="fa fa-file-pdf-o"></i></a>*@
                    <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse" id="box1">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table id="tblLeavesList" data-toggle="table" data-sort-name="Status" data-sort-order="desc" class="table table-bordered table-striped dt-responsive nowrap table-hover table-condensed" data-page-length='5' style="width:100%">
                    <thead class="bg-primary">
                        <tr>
                            <th> Employee Name</th>
                            <th> Leave Type</th>
                            <th> Leave From </th>
                            <th> Leave To </th>
                            <th> Leave Applied On </th>
                            <th> Leave Reason </th>
                            <th> Leave Status </th>
                            <th> Status Updated On </th>
                            <th hidden> Status Updated On </th>
                            <th> Leave Action </th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.leaveApplyListAll != null && Model.leaveApplyListAll.Count() > 0)
                        {
                            @foreach (var leave in Model.leaveApplyListAll)
                            {
                                @foreach (var empd in Model.empMasterDataItems.Where(x => x.EmployeeId == @leave.EmployeeId).ToList())
                                {
                                    <tr>
                                        <td style="width: 20%;">
                                            <img src="../UploadImages/@empd.EmployeeProfilePhoto" alt="Emp Image" style="width:10% !important; border-radius: 50%;">
                                            <a asp-controller="Leaves" asp-action="LeavesStatus" asp-route-empId="@leave.EmployeeId" data-toggle="modal" data-target="#modal-defaultLeaves" data-backdrop="static" data-keyboard="false">
                                                <span style="margin-left:5%;">
                                                    <strong> @empd.FirstName  @empd.MiddleName  @empd.LastName </strong>
                                                </span>
                                            </a>
                                            <input id="hndfEmployeeIdVal" name="empId" type="hidden" value="@leave.EmployeeId" />
                                        </td>

                                        @if (Model.leaveTypesListAll.Where(x => x.LeaveTypeId == @leave.LeaveType).ToList().SingleOrDefault() != null)
                                        {
                                            <td>@Model.leaveTypesListAll.Where(x => x.LeaveTypeId == @leave.LeaveType).ToList().SingleOrDefault().LeaveTypeName</td>
                                        }
                                        else
                                        {
                                            <td> </td>
                                        }
                                        <td> @leave.LeaveFromDate </td>
                                        <td>@leave.LeaveToDate</td>
                                        <td>@leave.LeaveAppliedOn</td>
                                        <td>@leave.LeaveReason </td>
                                        <td>
                                            <small class="label  bg-aqua-gradient"><i class="fa fa-gears"></i> Applied</small>
                                        </td>
                                        <td>@leave.LeaveStatusChangeDate </td>
                                        <td hidden>
                                            @System.Convert.ToDateTime(leave.LeaveStatusChangeDate).ToString("yyyy-MM-dd")
                                        </td>
                                        <td style="width: 18%;">
                                            @if (leave.LeaveStatus == 1)
                                            {
                                                <button href="" type="button" id="_@leave.EmployeeId" class="btn btn-primary bg-green-gradient pull-left btn-xs" style="float: left; margin-right: 4%;" onclick="UpdateLeaves(@leave.EmployeeId,@leave.EmpLeaveId,@Configuration["LeaveStatus:Approved"]);"><i id="__@leave.EmployeeId" class="fa fa-thumbs-up"></i> Approve Leave </button>
                                                <button href="" type="button" id="__@leave.EmployeeId" class="btn btn-danger bg-red-gradient pull-right btn-xs" style="float: right; margin-right: 4%;" onclick="UpdateLeaves(@leave.EmployeeId,@leave.EmpLeaveId,@Configuration["LeaveStatus:Rejected"]);"><i id="R___@leave.EmployeeId" class="fa fa-thumbs-down"></i> Reject Leave </button>
                                            }


                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

        <!--Approved Leaves-->
        <div class="box box-info">
            <div id="Set2" class="box-header with-border">
                <h3 class="box-title ">
                    <i class="fa fa-thumbs-up"></i>
                    Approved Leaves
                </h3>
                <div class="box-tools pull-right">
                    @*<a class="btn btn-default btn-circle hidden-print" id="btnExport" onclick="BtnExportClick('tblApprovedLeavesList')"><i class="fa fa-file-pdf-o"></i></a>*@
                    <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div  class="box-body">
                <table id="tblApprovedLeavesList" class="table table-bordered table-striped dt-responsive nowrap table-hover table-condensed" style="width:100%">
                    <thead>
                        <tr>
                            <th class="bg-primary"> Employee Name</th>
                            <th class="bg-primary"> Leave Type</th>
                            <th class="bg-primary"> Leave From </th>
                            <th class="bg-primary"> Leave To </th>
                            <th class="bg-primary"> Leave Applied On </th>
                            <th class="bg-primary"> Leave Reason </th>
                            <th class="bg-primary"> Leave Status </th>
                            <th class="bg-primary"> Status Updated On </th>
                            <th hidden> Status Updated On </th>
                            <th class="bg-primary"> Leave Action </th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.leaveApproveListAll != null && Model.leaveApproveListAll.Count() > 0)
                        {
                            @foreach (var leaveApproved in Model.leaveApproveListAll)
                            {
                                <tr>
                                    @foreach (var empdApprove in Model.empMasterDataItems.Where(x => x.EmployeeId == @leaveApproved.EmployeeId).ToList())
                                    {
                                        <td style="width: 20%;">
                                            <img src="../UploadImages/@empdApprove.EmployeeProfilePhoto" alt="Emp Image" style="width:10% !important; border-radius: 50%;">
                                            <a asp-controller="Leaves" asp-action="LeavesStatus" asp-route-empId="@leaveApproved.EmployeeId" data-toggle="modal" data-target="#modal-defaultLeaves" data-backdrop="static" data-keyboard="false">
                                                <span style="margin-left:5%;">
                                                    <strong> @empdApprove.FirstName  @empdApprove.MiddleName  @empdApprove.LastName </strong>
                                                </span>
                                            </a>
                                            <input id="hndfEmployeeIdVal" name="empId" type="hidden" value="@leaveApproved.EmployeeId" />
                                        </td>
                                        var empdleaveType = Model.leaveTypesListAll.Where(x => x.LeaveTypeId == @leaveApproved.LeaveType).ToList().SingleOrDefault();
                                        @if (empdleaveType == null)
                                        {
                                            <td> </td>
                                        }
                                        else
                                        {
                                            <td>@empdleaveType.LeaveTypeName </td>
                                        }
                                        <td> @leaveApproved.LeaveFromDate </td>
                                        <td>@leaveApproved.LeaveToDate</td>
                                        <td>@leaveApproved.LeaveAppliedOn</td>
                                        <td>@leaveApproved.LeaveReason </td>
                                        <td>
                                            <small class="label  bg-green-gradient"><i class="fa fa-thumbs-up"></i> Approved</small>
                                        </td>
                                        <td>@leaveApproved.LeaveStatusChangeDate </td>
                                        <td hidden>
                                            @System.Convert.ToDateTime(leaveApproved.LeaveStatusChangeDate).ToString("yyyy-MM-dd")
                                        </td>
                                        <td style="width: 18%;">
                                            @if (leaveApproved.LeaveStatus == 3 && System.Convert.ToDateTime(leaveApproved.LeaveFromDate) > System.DateTime.Now)
                                            {
                                                <button href="" type="button" id="___@leaveApproved.EmployeeId" class="btn btn-linkedin pull-right btn-xs" style="float: right; margin-right: 4%;" onclick="UpdateLeaves(@leaveApproved.EmployeeId,@leaveApproved.EmpLeaveId,@Configuration["LeaveStatus:Cancelled"]);"><i id="C___@leaveApproved.EmployeeId" class="fa fa-thumbs-down"></i> Cancel Leave </button>
                                            }
                                            else
                                            {
                                                <button href="" type="button" disabled id="___@leaveApproved.EmployeeId" class="btn btn-default pull-right btn-xs" style="float: right; margin-right: 4%;" onclick="UpdateLeaves(@leaveApproved.EmployeeId,@leaveApproved.EmpLeaveId,@Configuration["LeaveStatus:Cancelled"]);"><i id="C___@leaveApproved.EmployeeId" class="fa fa-thumbs-down"></i> Cancel Leave </button>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>

        <!--Rejected or Cancelled Leaves-->
        <div class="box box-info">
            <div id="Set3" class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-thumbs-down"></i>
                    Rejected or
                    <i class="fa fa-times-circle-o"></i>
                    Cancelled Leaves
                </h3>

                <div class="box-tools pull-right">
                    @*<a class="btn btn-default btn-circle hidden-print" id="btnExport" onclick="BtnExportClick('tblCancelledLeavesList')"><i class="fa fa-file-pdf-o"></i></a>*@
                    <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table id="tblCancelledLeavesList" class="table table-bordered table-striped dt-responsive nowrap table-hover table-condensed" data-page-length='5' style="width:100%">
                    <thead class="bg-primary">
                        <tr>
                            <th> Employee Name</th>
                            <th> Leave Type</th>
                            <th> Leave From </th>
                            <th> Leave To </th>
                            <th> Leave Applied On </th>
                            <th> Leave Reason </th>
                            <th> Leave Status </th>
                            <th data-field="Status"> Cancelled/Rejected On </th>
                            <th data-field="Status" hidden> Cancelled/Rejected On </th>
                            <th> Cancelled/Rejected Reason </th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.leaveCancelRejectListAll != null && Model.leaveCancelRejectListAll.Count() > 0)
                        {
                            @foreach (var leaveCancelled in Model.leaveCancelRejectListAll)
                            {
                                <tr>
                                    @foreach (var empdCancel in Model.empMasterDataItems.Where(x => x.EmployeeId == @leaveCancelled.EmployeeId).ToList())
                                    {
                                        <td style="width: 20%;">
                                            <img src="../UploadImages/@empdCancel.EmployeeProfilePhoto" alt="Emp Image" style="width:10% !important; border-radius: 50%;">
                                            <a asp-controller="Leaves" asp-action="LeavesStatus" asp-route-empId="@leaveCancelled.EmployeeId" data-toggle="modal" data-target="#modal-defaultLeaves" data-backdrop="static" data-keyboard="false">
                                                <span style="margin-left:5%;">
                                                    <strong> @empdCancel.FirstName  @empdCancel.MiddleName  @empdCancel.LastName </strong>
                                                </span>
                                            </a>
                                            <input id="hndfEmployeeIdVal" name="empId" type="hidden" value="@leaveCancelled.EmployeeId" />
                                        </td>
                                        @if (Model.leaveTypesListAll.Where(x => x.LeaveTypeId == @leaveCancelled.LeaveType).ToList().SingleOrDefault() != null)
                                        {
                                            <td>@Model.leaveTypesListAll.Where(x => x.LeaveTypeId == @leaveCancelled.LeaveType).ToList().SingleOrDefault().LeaveTypeName</td>
                                        }
                                        else
                                        {
                                            <td> </td>
                                        }
                                        <td> @leaveCancelled.LeaveFromDate </td>
                                        <td>@leaveCancelled.LeaveToDate</td>
                                        <td>@leaveCancelled.LeaveAppliedOn</td>
                                        <td>@leaveCancelled.LeaveReason </td>
                                        <td>
                                            @if (leaveCancelled.LeaveStatus == 2)
                                            {
                                                <small class="label  bg-yellow-gradient"><i class="fa fa-times-circle-o"></i> Cancelled</small>
                                            }
                                            @if (leaveCancelled.LeaveStatus == 4)
                                            {
                                                <small class="label  bg-yellow-gradient"><i class="fa fa-thumbs-down"></i> Rejected</small>
                                            }

                                        </td>
                                        <td>
                                            @leaveCancelled.LeaveStatusChangeDate
                                        </td>
                                        <td hidden>
                                            @System.Convert.ToDateTime(leaveCancelled.LeaveStatusChangeDate).ToString("yyyy-MM-dd")
                                        </td>
                                        <td style="width: 18%;">
                                            @leaveCancelled.LeaveRejectReason
                                        </td>
                                    }
                                </tr>
                            }
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="modal fade" id="modal-defaultLeaves">
            <div class="modal-dialog" style="width: 70% !important;">

                <div class="modal-content">

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </section>
</form>



@section Scripts {

    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Export -->
    <script src="~/bower_components/datatables.net-export/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/datatables.net-export/jszip.min.js"></script>
    <script src="~/bower_components/datatables.net-export/pdfmake.min.js"></script>
    <script src="~/bower_components/datatables.net-export/vfs_fonts.js"></script>
    <script src="~/bower_components/datatables.net-export/buttons.html5.min.js"></script>
    <script src="~/bower_components/datatables.net-export/buttons.print.min.js"></script>
    <script src="~/bower_components/datatables.net-export/buttons.colVis.min.js"></script>

    @if (ViewBag.leaveListSelection != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                //document.getElementById("AllBtn1").type = "button";
                //document.getElementById("AllBtn").click();
                //document.getElementById("AllBtn").disabled = true;
                //document.getElementById("AllBtn1").autofocus = true;
                //alert("on load");


            };

        </script>
    }

<script type="text/javascript">
    function validateLeaveEntryData(event) {
            $("#iSave").addClass("fa-pulse fa-spin");

            var IsAnyEmpty = false;
            var alertMsg = "Values For : ";

            if (document.getElementById("dtLeaveFrom").value == "") {
                IsAnyEmpty = true;
                alertMsg = alertMsg + "Leave From Date, ";
            }
            if (document.getElementById("dtLeaveTo").value == "") {
                IsAnyEmpty = true;
                alertMsg = alertMsg + "Leave Till Date, ";
            }
            if (document.getElementById("ddlLeaveType").value == "0") {
                IsAnyEmpty = true;
                alertMsg = alertMsg + "Leave Type, ";
            }
            if (document.getElementById("leaveReason").value == "") {
                IsAnyEmpty = true;
                alertMsg = alertMsg + "Reason Of Leave ";
            }
           event.preventDefault();
            if (IsAnyEmpty) {
                event.preventDefault();
                $("#iSave").removeClass("fa-pulse fa-spin");
                alertMsg = '<p>' + alertMsg + '<br /> cannot be left empty </p>'
                document.getElementById("errorBody").innerHTML = alertMsg;
                document.getElementById("modal-error").style.display = "block";
                setTimeout(successAlertClose, 5000);

                IsAnyEmpty = true;
            }
            else {
                AddUpdateLeaves(@Model.empMasterDataItems[0].EmployeeId,
                    document.getElementById("empLeaveIdValForEditing").value,
                    document.getElementById("ddlLeaveType").value,
                    document.getElementById("dtLeaveFrom").value,
                    document.getElementById("dtLeaveTo").value,
                    document.getElementById("leaveReason").value);
            }
            return IsAnyEmpty;
    }

    function AddUpdateLeaves(empId, leaveId, leaveType, fromDate, toDate, leaveReason) {
            document.body.style.cursor = 'progress';
            //Form data
            var form_data = new FormData();
            form_data.append('empId', empId);
            form_data.append('leaveId', leaveId);
            form_data.append('leaveType', leaveType);
            form_data.append('fromDate', fromDate);
            form_data.append('toDate', toDate);
            form_data.append('leaveReason', leaveReason);
            //alert("Add Leave" + empId);
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddUpdateLeaves", "Leaves")",
                processData: false,
                contentType: false,
                async: false,
                cache: false,
                data: form_data,
                success: function (response) {
                    //alert(leaveStatus);
                    var usrMsgData = JSON.parse(response);
                    //alert(usrMsgData[0]);
                    if (usrMsgData != null && usrMsgData != undefined) {
                        //alert(usrMsgData[1] + "--"+usrMsgData[0]);
                        if (usrMsgData[1] == "1") {
                            document.getElementById("errorBody").innerHTML = usrMsgData[0];
                            document.getElementById("modal-error").style.display = "block";
                        }
                        else {
                            document.getElementById("leave-successBody").innerHTML = usrMsgData[0];
                            document.getElementById("leave-modal-success").style.display = "block";
                        }

                        setTimeout(successAlertLeavesClose, 5000);
                        //alert("saved data");
                        document.body.style.cursor = 'default';
                        $("#iSave").removeClass("fa-pulse fa-spin");
                        document.getElementById("empLeaveIdValForEditing").value = "";
                        document.getElementById("dtLeaveFrom").value = "";
                        document.getElementById("dtLeaveTo").value = "";
                        document.getElementById("ddlLeaveType").value = "";
                        document.getElementById("leaveReason").value = "";
                        document.getElementById("iSave").innerHTML = ' Apply For Leaves';
                        
                    }
                },
                error: function (req, status, error) {
                    //console.log(msg);
                }
            });
    }

    function ModifyLeaves(employeeId, employeeLeveId, leaveFrom, leaveTo, leaveType, leaveReason) {
        $('.nav-tabs a[href="#ApplyLeaves"]').tab('show');
        //alert(document.getElementById("dtLeaveFrom").value);

        document.getElementById("dtLeaveFrom").value = leaveFrom;
        document.getElementById("dtLeaveTo").value = leaveTo;
        document.getElementById("ddlLeaveType").value = leaveType;
        document.getElementById("leaveReason").value = leaveReason;
        document.getElementById("iSave").innerHTML = ' Modify Leaves';
        document.getElementById("empLeaveIdValForEditing").value = employeeLeveId;


    }
    $('#modal-defaultLeaves').on('shown.bs.modal', function () {
        @*alert("here");
         alert(document.getElementById("chartData").value);*@
        document.getElementById("divPanelBox1").style.backgroundColor = "#ddd6";
        document.getElementById("MainContent").style.backgroundColor = "#ecf0f5";

        var script = document.createElement('script');
        script.src = "../dist/js/pages/SwiftHrCharts_Leaves.js";
        document.head.appendChild(script);

        // SLIMSCROLL FOR CHAT WIDGET
        $('#divLeavetypeEmpCount').slimScroll({
            height: '150px'
        });




    });

    function onToggle(btnToggle) {
        document.getElementById("divPanelBox1").style.backgroundColor = "#ffffff";
        document.getElementById("divPanelBox2").style.backgroundColor = "#ffffff";
        document.getElementById("divPanelBox3").style.backgroundColor = "#ffffff";

        switch (btnToggle.id) {
            case 'btnPToggle1':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle1").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox1").style.backgroundColor = "#ddd6";

                    $("#btnPToggle2").prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle3").prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;
            case 'btnPToggle2':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle2").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox2").style.backgroundColor = "#ddd6";
                    $("#btnPToggle1").prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle3").prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;
            case 'btnPToggle3':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle3").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox3").style.backgroundColor = "#ddd6";
                    $("#btnPToggle1").prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle2").prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;

        }


    }
</script>


    <script>
        function GridSetup(name) {
            var table = $('#' + name).DataTable({
                "pagingType": "full_numbers",
                "pageLength": 5,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "order": [[8, "desc"]],
                "dom": 'Bfrtipl',
                "buttons": [
                    {
                        extend: 'copy',
                        className: 'btn btn-default btn-circle pull-right hidden-print',
                        text: '<i class="fa fa-copy"></i>'
                    },
                    {
                        extend: 'excel',
                        className: 'btn btn-default btn-circle pull-right hidden-print',
                        text: '<i class="fa fa-file-excel-o"></i>'
                    },
                    {
                        extend: 'pdf',
                        className: 'btn btn-default btn-circle pull-right hidden-print',
                        text: '<i class="fa fa-file-pdf-o"></i>'
                    },
                    {
                        extend: 'csv',
                        className: 'btn btn-default btn-circle pull-right hidden-print',
                        text: '<i class="fa fa-table"></i>'
                    },
                    {
                        extend: 'print',
                        className: 'btn btn-default btn-circle pull-right hidden-print',
                        text: '<i class="fa fa-print"></i>'
                    }
                ],
            });
            table.draw();

        };

    </script>
    <script>

    function BtnOptionsClick(event){
            //alert("button");
            //event.preventDefault();
            document.getElementById("frmLeavesList").submit();
    };
    $(document).ready(function () {

        $("#liLeave").addClass("active");
        $("#liEmployeeLeaves").addClass("active");
        document.getElementById("liEmployeeLeaves").style.backgroundColor = "#3c8dbc45";

        GridSetup('tblLeavesList');
        GridSetup('tblApprovedLeavesList');
        GridSetup('tblCancelledLeavesList');
        document.getElementById("Set1").style.backgroundColor = "#fafafa";
        document.getElementById("Set2").style.backgroundColor = "#fafafa";
        document.getElementById("Set3").style.backgroundColor = "#fafafa";

    });
        function successAlertClose(event) {
            document.getElementById("modal-success").style.display = "none";
            document.getElementById("modal-error").style.display = "none";
            
        };
        function successAlertLeavesClose(event) {
            document.getElementById("leave-modal-success").style.display = "none";
            document.getElementById("modal-error").style.display = "none";

        };

        function UpdateLeaves(empId, leaveId, leaveStatus) {
            document.body.style.cursor = 'progress';
            document.getElementById("btnBusy").style.visibility = 'visible';
            let rejReason;
            if (leaveStatus == 4) {
                var selectedIcon = "#R___" + empId;
                rejReason = prompt("Would you like to specify the leave reject reason:", "N/a");
            }
            if (leaveStatus == 2) {
                var selectedIcon = "#C___" + empId;
                rejReason = prompt("Would you like to specify the leave cancel reason:", "N/a");
            }
            if (leaveStatus == 3) {
                var selectedIcon = "#__" + empId;
            }
            //var selectedIcon = "#__" + empId;
            $(selectedIcon).addClass("fa-pulse fa-spin");
            //Form data
            var form_data = new FormData();
            form_data.append('empId', empId);
            form_data.append('leaveId', leaveId);
            form_data.append('leaveStatus', leaveStatus);
            form_data.append('rejectReason', rejReason);
            //alert("Approve Leave" + leaveStatus);
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateLeavesStatus", "Leaves")",
                processData: false,
                contentType: false,
                async: false,
                cache: false,
                data: form_data,
                success: function (response) {
                    //alert(leaveStatus);
                    var usrMsgData = JSON.parse(response);
                    //alert(usrMsgData[0]);
                    if (usrMsgData != null && usrMsgData != undefined) {
                        if (leaveStatus == 3) {
                            var selectedButton = "#_" + empId;
                            var myTable1 = $('#tblLeavesList').DataTable();
                            myTable1.row($(selectedButton).parents('tr')).remove().draw(false);
                            //If to be added to next table ...
                            @*var myTable2 = $('#tblApprovedLeavesList').DataTable();
                            var myRow = myTable1.row($(selectedButton).parents('tr')).data();
                            var myRow1 = myTable2.row.add(myRow).draw(false);
                            myTable2.column(8).visible(false);*@
                        }
                        if (leaveStatus == 4) {
                            var selectedButton = "#__" + empId;
                            var myTable1 = $('#tblLeavesList').DataTable();
                            myTable1.row($(selectedButton).parents('tr')).remove().draw(false);
                        }
                        if (leaveStatus == 2) {
                            var selectedButton = "#___" + empId;
                            var myTable1 = $('#tblApprovedLeavesList').DataTable();
                            myTable1.row($(selectedButton).parents('tr')).remove().draw(false);
                        }

                        //myTable2.column(6).innerHTML="<small class='label  bg-green-gradient'><i class='fa fa-thumbs-up'></i> Approved</small>";

                        document.getElementById("successBody").innerHTML = usrMsgData[0];
                        document.getElementById("modal-success").style.display = "block";
                        setTimeout(successAlertClose, 5000);
                        //alert("saved data");
                        document.body.style.cursor = 'default';
                        document.getElementById("btnBusy").style.visibility = 'hidden';
                        $(selectedIcon).removeClass("fa-pulse fa-spin");
                    }
                },
                error: function (req, status, error) {
                    //console.log(msg);
                }
            });
        };
    </script>

    <script src="~/bower_components/chart.js/Chart.js"></script>


}


