@model SwiftHR.Utility.LeavesAllDetails
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{

    switch (@ViewBag.CallingView)
    {
        case "ApplyLeaves":
            Layout = "_MainLayout";
            break;
        default:
            Layout = "";
            break;
    }
    ViewData["Title"] = "Leave Status";
}

<!-- DataTables -->
<link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<form asp-controller="Leaves" asp-action="LeavesList" method="post">

    <button type="submit" class="close" style="margin-right: 2%; margin-top: 1%;" title="Close Window">
        <span aria-hidden="true">&times;</span>
    </button>

    <section class="content">
        <div class="row" style="margin-top: 2%;">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="../UploadImages/@Model.empMasterDataItems[0].EmployeeProfilePhoto" alt="User profile picture">

                        <h3 class="profile-username text-center">@Model.empMasterDataItems[0].FirstName @Model.empMasterDataItems[0].MiddleName @Model.empMasterDataItems[0].LastName</h3>
                        <p class="text-muted text-center" style="font-size: 20px; font-weight: 700;"> Leave Status </p>
                        <p class="text-muted text-center" style="font-size: 20px; font-weight: 700;">Employee Code:  @Model.empMasterDataItems[0].EmployeeNumber </p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b> Contact No </b>  <span style="color:#3c8dbc; margin-left: 4%;"> <strong> @Model.empMasterDataItems[0].ContactNumber </strong> </span>
                            </li>
                            <li class="list-group-item">
                                <b> Email </b>  <br /> <span style="color:#3c8dbc;"><strong> @Model.empMasterDataItems[0].Email </strong>  </span>
                            </li>
                            <li class="list-group-item">
                                <b>Department</b>  <br /> <span style="color:#3c8dbc;"><strong> @Model.empMasterDataItems[0].Department </strong>  </span>
                            </li>
                            <li class="list-group-item">
                                <b>Designation</b>  <br /> <span style="color:#3c8dbc;"> <strong> @Model.empMasterDataItems[0].Designation </strong> </span>
                            </li>
                            <li class="list-group-item">
                                <b>Date of Joining </b>   <span style="color:#3c8dbc; margin-left: 4%;"> <strong> @Model.empMasterDataItems[0].DateOfJoining </strong>  </span>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-8">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Personal" data-toggle="tab">Leaves Status</a></li>
                        <li><a href="#Account" data-toggle="tab">Apply Leaves</a></li>
                        <li><a href="#Employment" data-toggle="tab">Leave Logs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="Personal">
                            <div class="box box-solid" style="box-shadow: none !important;">
                                <div class="box-body">
                                    <!-- Box Group -->
                                    <div class="box-group" id="accordion">
                                        <!-- Box 1 -->
                                        <div id="divPanelBox1" class="panel box">
                                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                            <div class="box-header with-border">
                                                <h3 class="box-title">
                                                    <i class="fa fa-gears"></i>
                                                    Applied Leaves
                                                </h3>
                                                <div class="box-tools pull-right">
                                                    <a class="btn btn-default btn-circle hidden-print" id="btnExport1"><i class="fa fa-file-pdf-o"></i></a>
                                                    <button id="btnPToggle1" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="Collapse" onclick="onToggle(this)">
                                                        <i id="iconPToggle1" class="fa fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="box-body">
                                                    <table id="tblLeavesList" data-toggle="table" data-sort-name="Status" data-sort-order="desc" class="table table-bordered table-striped dt-responsive  table-hover table-condensed">
                                                        <thead class="bg-primary">
                                                            <tr>
                                                                <th> Leave Type</th>
                                                                <th> Leave From </th>
                                                                <th> Leave To </th>
                                                                <th> Leave Applied On </th>
                                                                <th> Leave Reason </th>
                                                                <th> Leave Status </th>
                                                                <th> Status Updated On </th>
                                                                <th hidden> Status Updated On </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @if (Model.leaveApplyListAll != null && Model.leaveApplyListAll.Count() > 0)
                                                            {
                                                                @foreach (var leave in Model.leaveApplyListAll)
                                                                {
                                                                    <tr>
                                                                        <td> @leave.LeaveType </td>
                                                                        <td> @leave.LeaveFromDate </td>
                                                                        <td>@leave.LeaveToDate</td>
                                                                        <td>@leave.LeaveAppliedOn</td>
                                                                        <td>@leave.LeaveReason </td>
                                                                        <td>
                                                                            <small class="label  bg-aqua-gradient"><i class="fa fa-gears"></i> Applied</small>
                                                                        </td>
                                                                        <td>@leave.LeaveStatusChangeDate </td>
                                                                        <td hidden>
                                                                            @System.Convert.ToDateTime(leave.LeaveStatusChangeDate).ToString("yyyy-MM-dd")
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }

                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Box 2 -->
                                        <div class="panel box" id="divPanelBox2">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    Approved Leaves
                                                </h3>
                                                <div class="box-tools pull-right">
                                                    <a class="btn btn-default btn-circle hidden-print" id="btnExport2"><i class="fa fa-file-pdf-o"></i></a>
                                                    <button id="btnPToggle2" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" title="Expand" onclick="onToggle(this)">
                                                        <i id="iconPToggle2" class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="box-body">
                                                    <table id="tblApprovedLeavesList" data-toggle="table" data-sort-name="Status" data-sort-order="desc" class="table table-bordered table-striped dt-responsive  table-hover table-condensed">
                                                        <thead class="bg-primary">
                                                            <tr>
                                                                <th> Leave Type</th>
                                                                <th> Leave From </th>
                                                                <th> Leave To </th>
                                                                <th> Leave Applied On </th>
                                                                <th> Leave Reason </th>
                                                                <th> Leave Status </th>
                                                                <th> Status Updated On </th>
                                                                <th hidden> Status Updated On </th>
                                                                <th> Leave Action </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.leaveApproveListAll != null && Model.leaveApproveListAll.Count() > 0)
                                                            {
                                                                @foreach (var leaveApproved in Model.leaveApproveListAll)
                                                                {
                                                                    <tr>
                                                                        @foreach (var empdApprove in Model.empMasterDataItems.Where(x => x.EmployeeId == @leaveApproved.EmployeeId).ToList())
                                                                        {
                                                                            <td> @leaveApproved.LeaveType </td>
                                                                            <td> @leaveApproved.LeaveFromDate </td>
                                                                            <td>@leaveApproved.LeaveToDate</td>
                                                                            <td>@leaveApproved.LeaveAppliedOn</td>
                                                                            <td>@leaveApproved.LeaveReason </td>
                                                                            <td>
                                                                                <small class="label  bg-green-gradient"><i class="fa fa-thumbs-up"></i> Approved</small>
                                                                            </td>
                                                                            <td>@leaveApproved.LeaveStatusChangeDate </td>
                                                                            <td hidden>
                                                                                @System.Convert.ToDateTime(leaveApproved.LeaveStatusChangeDate).ToString("yyyy-MM-dd")
                                                                            </td>
                                                                            <td style="width: 18%;">
                                                                                @if (leaveApproved.LeaveStatus == 3 && System.Convert.ToDateTime(leaveApproved.LeaveFromDate) > System.DateTime.Now)
                                                                                {
                                                                                    <button href="" type="button" id="___@leaveApproved.EmployeeId" class="btn btn-linkedin pull-right btn-xs" style="float: right; margin-right: 4%;" onclick="UpdateLeaves(@leaveApproved.EmployeeId,@leaveApproved.EmpLeaveId,@Configuration["LeaveStatus:Cancelled"]);"><i id="C___@leaveApproved.EmployeeId" class="fa fa-thumbs-down"></i> Cancel Leave </button>
                                                                                }
                                                                            </td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Panel Box 3-->
                                        <div class="panel box" id="divPanelBox3">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">
                                                    <i class="fa fa-thumbs-down"></i>
                                                    Cancelled Or Rejected Leaves
                                                </h3>
                                                <div class="box-tools pull-right">
                                                    <a class="btn btn-default btn-circle hidden-print" id="btnExport2"><i class="fa fa-file-pdf-o"></i></a>
                                                    <button id="btnPToggle3" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" title="Expand" onclick="onToggle(this)">
                                                        <i id="iconPToggle3" class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="box-body">
                                                    <table id="tblCancelledLeavesList" data-toggle="table" data-sort-name="Status" data-sort-order="desc" class="table table-bordered table-striped dt-responsive table-hover table-condensed">
                                                        <thead class="bg-primary">
                                                            <tr>
                                                                <th> Leave Type</th>
                                                                <th> Leave From </th>
                                                                <th> Leave To </th>
                                                                <th> Leave Applied On </th>
                                                                <th> Leave Reason </th>
                                                                <th> Leave Status </th>
                                                                <th data-field="Status"> Cancelled&nbsp;/Rejected On </th>

                                                                <th data-field="Status" hidden> Cancelled&nbsp;/Rejected On </th>
                                                                <th> Cancelled&nbsp;/Rejected Reason </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @if (Model.leaveCancelRejectListAll != null && Model.leaveCancelRejectListAll.Count() > 0)
                                                            {
                                                                @foreach (var leaveCancelled in Model.leaveCancelRejectListAll)
                                                                {
                                                                    <tr>
                                                                        @foreach (var empdCancel in Model.empMasterDataItems.Where(x => x.EmployeeId == @leaveCancelled.EmployeeId).ToList())
                                                                        {
                                                                            <td> @leaveCancelled.LeaveType </td>
                                                                            <td> @leaveCancelled.LeaveFromDate </td>
                                                                            <td>@leaveCancelled.LeaveToDate</td>
                                                                            <td>@leaveCancelled.LeaveAppliedOn</td>
                                                                            <td>@leaveCancelled.LeaveReason </td>
                                                                            <td>
                                                                                @if (leaveCancelled.LeaveStatus == 2)
                                                                                {
                                                                                    <small class="label  bg-yellow-gradient"><i class="fa fa-times-circle-o"></i> Cancelled</small>
                                                                                }
                                                                                @if (leaveCancelled.LeaveStatus == 4)
                                                                                {
                                                                                    <small class="label  bg-yellow-gradient"><i class="fa fa-thumbs-down"></i> Rejected</small>
                                                                                }

                                                                            </td>
                                                                            <td>
                                                                                @leaveCancelled.LeaveStatusChangeDate
                                                                            </td>
                                                                            <td hidden>
                                                                                @System.Convert.ToDateTime(leaveCancelled.LeaveStatusChangeDate).ToString("yyyy-MM-dd")
                                                                            </td>
                                                                            <td style="width: 18%;">
                                                                                @leaveCancelled.LeaveRejectReason
                                                                            </td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            }

                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="Employment">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-red">
                                        10 Feb. 2014
                                    </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-envelope bg-blue"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                        <div class="timeline-body">
                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                            quora plaxo ideeli hulu weebly balihoo...
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs">Read more</a>
                                            <a class="btn btn-danger btn-xs">Delete</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-user bg-aqua"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                        <h3 class="timeline-header no-border">
                                            <a href="#">Sarah Young</a> accepted your friend request
                                        </h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-yellow"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                        <div class="timeline-body">
                                            Take me to your leader!
                                            Switzerland is small and neutral!
                                            We are more like Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-green">
                                        3 Jan. 2014
                                    </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-camera bg-purple"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="Account">
                            <div class="box box-solid" style="box-shadow: none !important;">
                                <div class="box-body box-profile">
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Name</label>

                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputName2" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputName" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Apply Leaves</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Yearly Employee Leaves Pattern</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>

                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="margin-bottom: -2%;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="text-center">
                                            <strong> January, @System.DateTime.Now.Year.ToString() - December, @System.DateTime.Now.Year.ToString() </strong>
                                        </p>
                                        <div class="chart">
                                            @*<input id="chartData" name="chartValue1" type="hidden" value="40, 5, 20, 0, 4, 6, 0, 0, 0, 12, 2, 1" />*@
                                            <input id="chartData" name="chartValue1" type="hidden" value="@ViewBag.monthlyLeaveCount" />
                                            <input id="chartMonths" name="chartValue2" type="hidden" />
                                            <canvas id="salesChart1" style="height: 180px;"></canvas>
                                        </div>
                                        <!-- /.chart-responsive -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- ./box-body -->
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-12">
                                        <div id="TotalEmployees" class="description-block border-right">
                                            @*<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>*@
                                            @*<h5 class="description-header">375</h5>*@
                                            <h5 id="TotalLeaves" class="description-header">@ViewBag.chartLegends[12]</h5>
                                            <span class="description-text">Total Approved Leaves</span>
                                            <span class="description-text">in Year</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="description-block border-right">
                                            @*<span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>*@
                                            @*<h5 class="description-header">@Model.empMasterDataItems.Where(x => System.Convert.ToDateTime(x.DateOfJoining).Month == @System.DateTime.Now.Month - 6).ToList().Count</h5>*@
                                            @*<h5 class="description-header">@Model.empMasterDataItems.Where(x => System.Convert.ToDateTime(x.DateOfJoining).AddMonths(6) >= @System.DateTime.Now).ToList().Count</h5>*@

                                            <h5 id="TotalLeavesTaken" class="description-header">@ViewBag.chartLegends[13]</h5>
                                            <span class="description-text"> Total Leaves Taken</span>
                                            &nbsp;
                                            <span class="description-text">in Year</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="description-block border-right">
                                            @*<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>*@
                                            <h5 id="TotalLeavesRemaining" class="description-header">@ViewBag.chartLegends[14]</h5>
                                            <span class="description-text">Total Leaves Pending&nbsp; in Year</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="description-block border-right">
                                            @*<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>*@
                                            <h5 id="AverageLeaves" class="description-header">@ViewBag.chartLegends[15]</h5>
                                            <span class="description-text">Average Leaves Per Month</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.col -->
        </div>

    </section>

</form>

<script type="text/javascript">
    function onToggle(btnToggle) {
        document.getElementById("divPanelBox1").style.backgroundColor = "#ffffff";
        document.getElementById("divPanelBox2").style.backgroundColor = "#ffffff";
        document.getElementById("divPanelBox3").style.backgroundColor = "#ffffff";

        switch (btnToggle.id) {
            case 'btnPToggle1':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle1").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox1").style.backgroundColor = "#ddd6";

                    $("#btnPToggle2").prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle3").prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;
            case 'btnPToggle2':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle2").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox2").style.backgroundColor = "#ddd6";
                    $("#btnPToggle1").prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle3").prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;
            case 'btnPToggle3':
                if (btnToggle.title == "Collapse") {
                    $(btnToggle).prop('title', 'Expand');
                    $("#iconPToggle3").removeClass("fa-minus").addClass("fa-plus");
                }
                else {
                    $(btnToggle).prop('title', 'Collapse');
                    $("#iconPToggle3").removeClass("fa-plus").addClass("fa-minus");
                    document.getElementById("divPanelBox3").style.backgroundColor = "#ddd6";
                    $("#btnPToggle1").prop('title', 'Expand');
                    $("#iconPToggle1").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle2").prop('title', 'Expand');
                    $("#iconPToggle2").removeClass("fa-minus").addClass("fa-plus");
                    $("#btnPToggle4").prop('title', 'Expand');
                    $("#iconPToggle4").removeClass("fa-minus").addClass("fa-plus");
                }
                break;

        }


    }

    function ValidateMobileNo(txtMobileNo) {
        var mobileNo = txtMobileNo.value;

        if (mobileNo.length < 10) {
            txtMobileNo.value = "";
            alert("Please enter valid mobile number.");
        }
    }

    function preventNumberInput(e) {
        var keyCode = (e.keyCode ? e.keyCode : e.which);
        if (keyCode > 47 && keyCode < 58 || keyCode > 95 && keyCode < 107) {
            e.preventDefault();
        }
    }

    function restrictAlphabets(e) {
        var x = e.which || e.keycode;
        if ((x >= 48 && x <= 57))
            return true;
        else
            return false;
    }

    function ValidateEmail(txtEmail) {
        var emailId = txtEmail.value;
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(emailId)) {
            txtEmail.value = "";
            alert("Please enter valid email.");
        }
    }

    function ddlAddressSelectionChange(selValue) {
        if (selValue == "PermanentAddress") {
            document.getElementById("divPresentAddress").style.display = "none";
            document.getElementById("divPermanentAddress").style.display = "block";
        }
        else {
            document.getElementById("divPermanentAddress").style.display = "none";
            document.getElementById("divPresentAddress").style.display = "block";
        }
    }

</script>



@section Scripts {
    <!-- Charts -->
    <script src="~/bower_components/chart.js/Chart.js"></script>
    <script src="~/dist/js/pages/SwiftHrCharts_Leaves.js"></script>
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(function () {
            $('#tblLeavesList').DataTable();
        })
        $(document).ready(function () {
            $("#liLeave").addClass("active");
            $("#liEmployeeLeaves").addClass("active");
            document.getElementById("liApplyLeave").style.backgroundColor = "#3c8dbc45";
        });
    </script>
    <script>
            @*@{int[] monthlyLeaveCount = Model.GetMonthWiseEmployeeLeavesCount(DateTime.Now.Year, @Model.empMasterDataItems[0].EmployeeId.ToString());}
            var dataPerMonth = [@monthlyLeaveCount[0],
                                @monthlyLeaveCount[1],
                                @monthlyLeaveCount[2],
                                @monthlyLeaveCount[3],
                                @monthlyLeaveCount[4],
                                @monthlyLeaveCount[5],
                                @monthlyLeaveCount[6],
                                @monthlyLeaveCount[7],
                                @monthlyLeaveCount[8],
                                @monthlyLeaveCount[9],
                                @monthlyLeaveCount[10],
                                @monthlyLeaveCount[11]
                                ];

        document.getElementById("chartData").value = dataPerMonth;*@
        @*document.getElementById("TotalLeaves").innerHTML = @monthlyLeaveCount[12];
        document.getElementById("TotalLeavesTaken").innerHTML = @monthlyLeaveCount[13];
        document.getElementById("TotalLeavesRemaining").innerHTML = @monthlyLeaveCount[14];
        document.getElementById("AverageLeaves").innerHTML = @monthlyLeaveCount[15];*@
    </script>

}



