@model IEnumerable<SwiftHR.Models.LeaveApplyDetail>

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "View";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveFromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveAppliedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportingManagerUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportingManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStatusChangeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStatusChangedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRejectReason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveFromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveAppliedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportingManagerUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportingManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStatusChangeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveStatusChangedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveRejectReason)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpLeaveId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpLeaveId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpLeaveId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
